div{
    background-color: purple;
}
p{
    background-color: darkcyan;
}
h1{
    background-color: lightseagreen;
}
h6{
    background-color: brown;
}
a{
    background-color: yellow;
}
span{
    background-color: yellowgreen;
}
b{
background-color: orangered;
}
i{
    background-color: orange;
}
