*{
    margin: 0;
    padding: 0;
}
.headings{
    color: aqua;
    background-color: black;
}
/* h1{
    color: red;
    background-color: black;
}
h2{
    color: blue;
    background-color: brown;
} */